
      <ion-pane id="header" scroll="false">
        <ion-side-menus >
            <ion-side-menu-content class="middle" edge-drag-threshold="true" drag-content="true">
              <ion-nav-bar class="bar bar-header ">
                
              <ion-nav-title>
                 <img class="navbar-logo" src="img/precisionbitwhite.png" style="">
              </ion-nav-title>
                <ion-nav-back-button>
                </ion-nav-back-button>
                <ion-nav-buttons side="left">
                  <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
                  </button>
                </ion-nav-buttons>

              </ion-nav-bar>
              
              <ion-nav-view name="content"></ion-nav-view>
            </ion-side-menu-content> 
            

            <ion-side-menu side="left" class="left-bar" width="220">
              <ion-header-bar class="bar">
                <h1 class="title title-center">{{user_name}}</h1>
              </ion-header-bar>
              <ion-content>
                <div class="row">
                  <div class="col">
                    <div class="row user-img">
                      <div class="col">
                        <img ng-src="{{user_pic}}"/>
                      </div>
                    </div>
                    <div class="row stats">
                      <div class="col">
                        <span>Survey </span> <span>{{survey}}</span>
                      </div>
                      <div class="col">
                        <span>Points </span> <span>{{points}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="list">
                  <a menu-close href="#" class="item item-icon-right">Profile<i class="icon ion-person"></i></a>
                  <a menu-close href="#" class="item item-icon-right">Stats<i class="icon ion-stats-bars"></i></a>
                  <a menu-close href="#" class="item item-icon-right">Options<i class="icon ion-gear-a"></i></a>
                  <a menu-close href="#/login" class="item item-icon-right" ng-click="logUserOut()">Log out</a>
                </ul>
              </ion-content>
            </ion-side-menu>
        </ion-side-menus> 
      </ion-pane>
