
      <ion-view>
      <ion-content id="home" class="home" scroll="false">
        <div class="card">
          <div class="item item-text-wrap">
            <div class="row">
              <div class="col">
                <h3>Welcome {{user_name}} !</h3>

              </div>
            </div>
            <div class="row"><div class="col"></div></div>
            <div class="row"><div class="col"></div></div>
            <div class="row"><div class="col"></div></div>
            <div class="row"><div class="col"></div></div>
            <div class="row">
              <div class="col-50"></div>
              <div class="col-50"><a href="#/header/pics" class="button icon-right" style="float:right;" ng-click="nextbtn();">Next <i class="icon ion-arrow-right-a"></i></a></div>
            </div>
                      
          </div>
        </div>
      </ion-content>  
      </ion-view>
