
      <ion-pane id="login" scroll="false">
        <div class="logo">
          <img src="img/Precision-Bit.png">
        </div>
        <div class="loading">
          <ion-spinner icon="dots" class="spinner-dark" ></ion-spinner>
        </div>    
        <div class="login" hidden>
          <button ng-click="GoIn();" class="button button-positive">Go In</button><br><br>
          <button ng-click="fbLogin();" class="button button-positive"><i class="fa fa-facebook"></i> Sign in</button>
        </div>     

        <div id="footer">
          <div class="copyright">
            <p>Copyright Precision Bit &copy 2016</p>
          </div>
        </div>
      </ion-pane>  
 