
      <ion-view>
      <ion-content id="pics" class="home" scroll="false">
        <div ng-if="cards">
        <div class="row">
          <div class="col">

            <div class="images">
                <div class="image-container">
                  <ion-spinner id="img-load" icon="dots" class="spinner-dark" ></ion-spinner>
                </div>
                <div id="end-card" drag="false" hidden>
                  <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
                </div>
              
            </div>    
          </div>
        </div>
        <div class="row question">
          <div class="col"> 
            <h4>Does this image show a happy face ?</h4>
          </div>
        </div>
        <div class="row answers">

          <div class="col">
            <div id="no">
              <img src="img/no.png"  ng-click="unlike()">
            </div>
            
          </div>
          <div class="col">
            <div id="yes">
              <img src="img/yes.png" ng-click="like()">
            </div>
          </div>
        </div>
        </div>

        
      </ion-content>  
      </ion-view>
