/* Empty. Add your own CSS if you like */

@font-face {
    font-family: gotham-htf;
    src: url('../fonts/GothamHTF-Book.ttf')  format('truetype');
}

body {
  cursor: url('../img/finger.png'), auto;
  font-family: gotham-htf, arial, sans-serif;
  
} 

#login{
	background: url('../img/bg3.png') no-repeat #111;
	background-size: 100% 100%;
	height: 100vh;
	width: 100%;
}

#login .logo{
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}

#login .logo img{
	width: 75%;
	margin-bottom: 20px;
}



#login .login,#login .loading{
	text-align: center;
	/*margin: 90px auto;*/

}

#login .login button{
	background: #49639F;
	color: #fff;
}

#login .login button i{
	border-right: 1px solid #345193;
	font-size: 15px;
	padding: 15px 15px 15px 5px; 
	margin-right: 10px;
	color: #FFF !important;
}


.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

#login #footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
}

#login #footer .copyright{
	margin: 0 auto;
	text-align: center;
	color: #222 !important;
	font-size: 12px;
}

#login #footer .copyright p{
	color: #111 !important;
}

#home ion-side-menu-content{
	background: #111;
}

#home .home{
	margin-top: 30px;
}

.navbar-logo{
	height: 100%;
	width: 65%;
	margin: auto 0;
}

.user-img,.stats{
	text-align: center;
	margin: 5px 0;
}

.user-img img{
	width: 60%;
	border-radius: 50%;
	background: #555 !important;
}


.images {
  /*height: 100%;*/
  margin: 0 auto !important;
  display: block;
  text-align: center;
  width: 96%;
  /*border: 1px solid #333;*/
  top:20%;
  position: absolute;
}

.image {

  position: absolute;
  left: 0; 
  right: 0;
  margin: 0 auto;
  width: 90%;
  background-color: transparent;
  z-index: 1;

}

.image img {
  /*height: 200px;*/
  border-radius: 10px;
  width: 100%;
  border: 1px solid #999;
  display: block;
  line-height: 0;
}

#img-load svg{
	width: 50% !important;
	height: 180px !important;
}

#end-card {
  background-color: none;
  box-shadow: none;
  border-radius: none;
  z-index: 0;
}

#end-card i {
  top: 20%; 
  left: calc(50% - 40px);
  font-size: 80px !important;
}

.question{
	text-align: center;
	position: absolute;
	bottom: 25%;
}

.answers{
	position: absolute;
	text-align: center;
	bottom: 5%;
}

.answers img{
	width: 40%;
}

@media (min-width: 480px){
	#login .logo{
		padding-top: 140px;
	}

	#login .logo img{
		width: 75%;
	}

	#login .login button{
		font-size: 25px !important;
	}

	#login .login button i{
		font-size: 30px !important;
	}

	#login .login{
		margin: 300px auto !important;
	}

	#login .loading{
		width: 100% !important;
		margin: 0 auto !important;
		position: absolute;
		bottom: 20px;
	}

	#login .loading svg{
		width: 90% !important;
	}

	#login #footer .copyright p{
		font-size: 18px !important;
	}	

	.navbar-logo{
		width: 60%;
		margin: auto 0;
	}

	.item h3{
		font-size: 25px !important;
	}

	.user-img img{
	  width: 80% !important;
	}


	.images {
	  height: 350px !important;
	}

	.image {
	  width: 100% !important;
	}

	.image img {
	  /*height: 400px !important;*/
	}

	#img-load svg{
		margin-top: 20%;
		width: 50% !important;
		height: 180px !important;
	}

	.question{
		margin-bottom: 25px;
	}

}

@media (min-width: 500px){
	#login .logo{
		padding-top: 140px;
	}

	#login .logo img{
		width: 45%;
	}

	#login .login button{
		font-size: 27px !important;
	}

	#login .login button i{
		font-size: 45px !important;
	}

	#login .login,#login .loading{
		margin: 210px auto !important;
	}

	.image {
	  width: 80% !important;
	}

	.question{
		margin: 65px 0;
	}

	#login #footer .copyright{
		font-size: 17px;
	}

}

@media (min-width: 800px){
	#login .logo{
		padding-top: 50px;
	}

	#login .logo img{
		width: 20%;
	}

	#login .login,#login .loading{
		text-align: center;
		margin: 60px auto !important;
	}

	

	.images {
	  margin-top: 10px !important;	
	  /*height: 300px !important;*/
	}

	.image {
	  width: 25% !important;
	}

	.image img {
	  /*height: 300px !important;*/
	}

	#img-load svg{
		margin-top: 2%;
		width: 50% !important;
		height: 180px !important;
	}

	.answers img{
		width: 20%;
	}
}



/*Override*/

.bar-header{
	background: #000 !important;
	border-color: #555 !important;
}

ion-content,ion-side-menu{
	background: #F1F1F1 !important;
	border-color: #111 !important;
}

.left-bar ion-content,.left-bar ion-content .item{
	background: #FFFFFF !important;
	border-color: #111 !important;
	border-width: 1px 0 0 0; 	
}


ul,li{
	background: #222 !important;
	border-color: #555 !important;
}

.item,.card{
	background: #DBDBDB!important;
	border-color: #111 !important;
}


a,p,h1,h2,h3,h4,h5,.col{
	color: #000 !important;
	font-family: gotham-htf, arial, sans-serif !important;
}

i{
	color: #000 !important;
	font-size: 26px !important;
}


ion-nav-bar i{
	color: #DDD !important;
}

a.button{
	background: #666 !important;
}



